{% extends "home.html" %}

{% block content %}
	<br><br>
	
	<div style="background-image: url(static/img/shaking-hands.jpg);">
		<div id="sobre">
			<p>A aplicação surge como uma proposição de aula, em forma de trabalho complementar interdisciplinar para os componentes Química e Desenvolvimento de Aplicações Web.
			<br><br><br><br><br><br>
			A equipe desenvolvedora do presente projeto é formada por seis alunos do curso técnico em multimídia integrado ao ensino médio, são eles: Bruno Sugahara, João Deus, Eliakin Garcez, Ítalo Rossi, Pedro Zwirtes e Wallan Almeida.
			</p> 
		</div>
	</div>
	
	
{% endblock %}
{% block formulario %}
{% endblock %}
