{% extends "home.html" %}

{% block content %}
	<p>Sobre nós</p>
	<p>A aplicação surge como uma proposição de aula, em forma de trabalho complementar interdisciplinar para os componentes Química e Desenvolvimento de Aplicações Web.<br>
	A equipe desenvolvedora do presente projeto é formada por seis alunos do curso técnico em multimídia integrado ao ensino médio, são eles: Bruno Sugahara, João Deus, Eliakin Garcez, Ítalo Rossi, Pedro Zwirtes e Wallan Almeida.
	</p> 
	
{% endblock %}
{% block formulario %}
{% endblock %}
