{% extends 'home.html' %}
{% load static %}
{% block content %}{% endblock %}
{% block faixa_meio %}{% endblock %}
{% block formulario %}

<!-- Aba com Formulario para calculo de concentração molar -->
<script type="text/javascript" src="{% static 'js/concentracao_molar.js' %}"></script>

    <div id="container_calculadora">
        <!-- MENU CALCULO -->
        <div class="pure-menu pure-menu-horizontal" id="menu_calculo">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{% url 'concentracao_comum' %}" class="pure-menu-link" style="color: #00a79d; border: 5px; background-color: black;">Concentração Comum</a></li>
                <li class="pure-menu-item"><a href="{% url 'concentracao_molar' %}" class="pure-menu-link" style="color: #00a79d; border: 5px; background-color: black;">Concentração Molar</a></li>
                <li class="pure-menu-item"><a href="{% url 'diluicao' %}" class="pure-menu-link" style="color: #00a79d; border: 5px; background-color: black;">Diluição</a></li>
            </ul>
        </div>
        <!-- formulário -->
        <form  method="" class="pure-form pure-form-aligned" id="formulario" name="formulario">  
          <fieldset>    
            <legend><label for="massaMolar">Concentração molar</label></legend> 
            <!-- Primeiro input -->
            <div aria-label="Digite a massa a molar do soluto, EM GRAMAS" data-balloon-pos="down" class="pure-control-group" style="min-width: 200px; width: 20%; display: inline; float: left;  margin-right: 2%">
                <input type="text" min="0" name="" placeholder="Massa molar do soluto" id="massaMolar" name="valor_1">
            </div>
            <!-- Segundo input -->
            <div aria-label="Digite a massa da amostra" data-balloon-pos="down" class="pure-control-group" style="min-width: 200px; width: 20%; display: inline; float: left;  margin-right: 1%">
                <input type="text" min="0" name="" placeholder="Massa da amostra" id="massaSolucao" name="valor_1">
            </div>
            <!-- Select do segundo input -->
            <select style="display: inline; float: left; margin: 5px; margin-right: 25px; margin-left: -7px; margin-top: 0px" id="unidade_massa">
                <option value="g">g</option>
                <option value="Kg">kg</option>
            </select>
            <!-- Terceiro campo para digitar -->
            <div aria-label="Digite o volume da solução" data-balloon-pos="down" class="pure-control-group" style="min-width: 200px; width: 20%; display: inline; float: left;  margin-right: 1%">
                <input type="text" name="" placeholder="Volume" id="volume">
            </div>
            <!-- Select para o terceiro campo -->
            <select style="display: inline; float: left; margin: 5px; margin-right: 10px; margin-left: -7px; margin-top: 0px" id="unidade_volume">
                <option value="ml">ml</option>
                <option value="L">L</option>
            </select>

            <button type="button" style="background-color: black; color: white; display: inline; font-size: 24px; padding-top: 2px;" onclick="concentracaoMolar()">→</button>
            <div style="background-color: white; display: inline; padding: 10px; min-width: 50px; width: 80%" class="pure-control-group" id="resultado">Resultado</div>
           
          </fieldset>        
        </form>      
    </div>
</div>
{% endblock %}