
<!DOCTYPE html>
<html>
<head>
<title>OS Templates | Template Demos | Demo of the Nekmit Free Website Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="https://www.os-templates.com/website-templates/template-demos/free-website-templates/nekmit/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<style type="text/css">
* {margin: 0px;padding: 0px;}
#osfooter{display:block;position:fixed;bottom:0;left:0;width:100%;height:300px;margin-bottom:-300px;overflow:hidden;background-color:transparent;z-index:5000;text-indent:-5000px;}
#osfooter div{margin-bottom:-1000px;}
#osfooter a{display:block; text-indent:-5000px;}
</style>
<!--[if lte IE 6]><style type="text/css">#osfooter{position:absolute; display:none;}</style><![endif]-->
</head>
<body id="top">

<script type="text/javascript">
(function(){
  var bsa = document.createElement('script');
     bsa.type = 'text/javascript';
     bsa.async = true;
     bsa.src = '//s3.buysellads.com/ac/bsa.js';
  (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
})();
</script>
<div class="bgded overlay padtop" style="padding: " >
  {% block cabecalho_padrao %}
  <header id="header" class="hoc clear" style="margin: 0px">
    <div id="logo" class="fl_left">
      <h1><a href="https://www.os-templates.com/free-website-templates">Calculadora Química</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <li class="active"><a href="https://www.os-templates.com/free-website-templates">Home</a></li>
      <li><a class="" href="https://www.os-templates.com/free-website-templates">Concentração comum</a></li>
      <li><a class="" href="https://www.os-templates.com/free-website-templates">Concentração molar</a></li>
      <li><a class="" href="https://www.os-templates.com/free-website-templates">Diluição</a></li>
    </nav>
  </header>
  {% endblock %}
  <div>
    CONTEÚDO</br>
    CONTEÚDO</br>
    CONTEÚDO</br>
    CONTEÚDO</br>
    CONTEÚDO</br>
    CONTEÚDO</br>
    CONTEÚDO</br>
    CONTEÚDO</br>
    CONTEÚDO</br>
    CONTEÚDO</br>
    CONTEÚDO</br>
    CONTEÚDO</br>
    CONTEÚDO</br></br></br></br></br></br>

  </div>
  

  {% block rodape_padrao %}
    <div class="wrapper row1">
      <section id="ctdetails" class="hoc clear">
        <ul class="nospace clear">
          <li class="one_quarter first">
            <div class="block clear"><a href="https://www.os-templates.com/free-website-templates"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="https://www.os-templates.com/free-website-templates"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> support@domain.com</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="https://www.os-templates.com/free-website-templates"><i class="fas fa-clock"></i></a> <span><strong> Mon. - Sat.:</strong> 08.00am - 18.00pm</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="https://www.os-templates.com/free-website-templates"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to <a href="https://www.os-templates.com/free-website-templates">our location</a></span></div>
          </li>
        </ul>
      </section>
    </div>
  {% endblock %}
</div>
</body>
</html>