{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">    <title>calculadora química</title>    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lectuse IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static "css/marketing.css" %}"  >
        <!--<![endif]-->

  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    
</head>
<body>
{% block header %}
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" style="background-color: #00420c">
        <a class="pure-menu-heading" href="">Calculadora Química</a>

        <ul class="pure-menu-list" class="menu_principal">
            <li class="pure-menu-item "><a href="{% url 'home_page' %}" id="menu_principal" class="pure-menu-link menu_principal" style="color: white">Home</a></li>
            <li class="pure-menu-item "><a href="sobre_nos" class="pure-menu-link menu_principal" style="color: white">Quem somos nós?</a></li>
            <li class="pure-menu-item "><a href="#" class="pure-menu-link menu_principal" style="color: white">Contato</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="splash-container" style="background-color: #a3a2a2">
    <div class="splash">
        <h1 class="splash-head" style="border-color: #002827; color: #002827">Cálculos químicos</h1>
        <p class="splash-subhead" style="color: #002827">
            Esta é uma iniciativa do IFRS - Campus Vacaria
        </p>
        <p>
            <label ><a  name="#formulario" class="pure-button pure-button-primary" style="background-color: #002827">Começar agora</a></label>
        </p>
    </div>
</div>

<div class="content-wrapper" style="background-color: black">
    <div class="content">
        <h2 class="content-head is-center">Química do ensino médio</h2>
        
    </div>

{% endblock %}  
    <div style="background-color: white; padding: 2%">
      {% block formulario %}    
        <form  method="post" class="pure-form" class="formulario" id="formulario" style=""> {% csrf_token %}   
          <fieldset>
            <label for="valor_1">Your name:</label>
            {{ form.valor_1 }} <br>
            {{ form.valor_2 }}
            <button type="submit" value="OK" class="pure-button pure-button-active" style="width: 10%">ok</button>
            <br><br><br><br><br><br>
          </fieldset>        
        </form>
      {% endblock %}

      
       <br><br><br><br><br><br> 

    </div>
     {% block footer %}
    <div class="footer m-box is-center" style="background-color: black; color: white;" >
        <img class="pure-img" src="{% static 'img/logo_if.png' %}" style="display: inline; min-width: 160px; width: 16%; float: left; margin: 1% 0px 1% 1%; background-color: ">
        <p style="display: inline; margin-right: 18%; background-color: ; padding: 5px;">Calculadora química</p>
       
    </div>
    {% endblock %}
</div>


</body>
</html>